@tailwind base;
@tailwind components;
@tailwind utilities;

$base-color1: #004E98;
$base-color2: #EBEBEB;
$nuetral-color: #C0C0C0;
$acent-color1: #FF6700;
$acent-color2: #3A6EA5;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
